/* Body Section */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #222222;
}

:root{

--footer-background-color:#F7F7F7; 
--footer-section-links-color:#222222;
--hr-color:#eeecec;
}


/* Footer Section */
footer {
    background-color: var(--footer-background-color);
    padding: 48px 80px;
    border-top: 1px solid #DDDDDD;
    font-size: 14px;
}

.footer-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    
}



.footer-section h3 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section li {
    margin-bottom: 12px;
}

.footer-section a {
    text-decoration: none;
    color: var(--footer-section-links-color);
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
} 

.footer-bottom a {
    text-decoration: none;
    color: var(--footer-section-links-color);
    margin: 0 4px;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

.settings {
    display: flex;
    gap: 16px;
}

.social-icons {
    display: flex;
    gap: 16px;
}

hr{
    border: none;
    height: 1px;
    background-color: var(--hr-color);
}

.footer-bottom-right{
    display: flex;
    justify-content: space-between;
    text-align: left;
}

